.footer {
  background-color: $background;

  &__title {
    text-align: center;
    padding: 2rem;
    font-size: 1.3rem;
    color: $second-color;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    align-items: center;
    margin-bottom: 2rem;
    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem auto;
      width: 60%;

      img {
        width: 5vw;
        margin: 0 1rem;
        &:active,
        &:hover {
          cursor: pointer;
        }
      }
    }
    &-info {
      display: flex;
      align-items: flex-start;
    }
  }

  p {
    text-align: center;
  }
}
