.play {
  background: linear-gradient(rgba(79, 255, 76, 0.3), rgba(69, 212, 66, 0.514)),
    url('https://cdn.pixabay.com/photo/2016/07/07/22/07/nice-1503257_960_720.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
